{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
                <h2>Create a New ThoughtPod </h2>
                <form action="{{url_for('newThoughtPod')}}" method = 'POST'>
                        <dl>
                                <dt>Title:</dt>
                                        <dd><input type ='text' size='30' name='title'></dd>
                                <dt>Description:</dt>
                                        <dd><textarea name = 'description' rows='5' cols='40'></textarea></dd>
			</dl>
			<input class="button" type='submit' value='Add'>
			<a class="button" href = '{{url_for('Home')}}'> Cancel </a>
		</form>
{% endblock %}
